﻿body {
    padding-top: 0;
}

.dropdown-menu.userinfo {
    padding-top: 0px;
}

.navbar {
    z-index: 0;
}

.navbar-header {
    width: inherit;
}

.navbar-brand {
    width: 100%;
    float: inherit;
    padding-left: 0;
    /*font-family: "Trebuchet MS", Verdana, sans-serif;*/
    font-family: 'Source Sans Pro','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;
}

.navbar-inverse, .navbar-inverse .toolbar {
    background-color: #2460aa;
}

    .navbar-inverse .navbar-brand {
        color: white;
    }

#sidebar li.active li i, #sidebar li.active li:hover i {
    color: #3f444c;
}

.form-group.row-border {
    border-top: 1px solid #e6e7e8;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: -20px;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

[class*="panel-"].panel .panel-footer {
    background-color: #fff;
}

.text-uppercase {
    text-transform: uppercase;
}

.input-number {
    text-align: right;
}

.input-xlarge {
    width: 420px !important;
}

.input-large {
    width: 320px !important;
}

.input-medium {
    width: 240px !important;
}

.input-small {
    width: 145px !important;
}

.input-xsmall {
    width: 80px !important;
}

.bootbox-confirm .modal-title {
    text-align: center;
}

.td-acciones {
    text-align: center;
    white-space:nowrap;
}

.modal-scrollable .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.modal-loading {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal-loading:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-loading .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-loading .modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background: transparent;
}

.GridviewScrollHeader TH, .GridviewScrollHeader TD {
    /*padding: 5px;*/
    padding: 3px;
    font-weight: bold;
    white-space: nowrap;
    /*border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;*/
    border: 1px solid #e6e7e8;
    background-color: #EFEFEF;
    /*text-align: left;*/
    text-align: center;
    vertical-align: bottom;

    color: #ffffff;
    /* background-color: #34495e; */
    background-color: #477fc6;
    /*border-color: #34495e;*/
    vertical-align: middle !important;
    text-transform: uppercase;
    font-size: 11px;
}

.GridviewScrollItem TD {
    /*padding: 5px;*/
    padding: 3px;
    white-space: nowrap;
    /*border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;*/
    border: 1px solid #e6e7e8;
    background-color: #FFFFFF;
}

.GridviewScrollPager {
    border-top: 1px solid #AAAAAA;
    background-color: #FFFFFF;
}

    .GridviewScrollPager TD {
        padding-top: 3px;
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .GridviewScrollPager A {
        color: #666666;
    }

    .GridviewScrollPager SPAN {
        font-size: 16px;
        font-weight: bold;
    }

.font-bold {
    font-weight:bold;
}

.text-danger {
    color: #e73c3c !important;
}

.td-gray {
    background-color: #d9dada;
}


.rojo{
    background: #ffbcbc !important;
}


.verde{
    background: #b9fcb9 !important;
}

.amarillo{
    background: yellow !important;
}

.none{
    display: none;
}
.block{
    display: block;
}

.modal-body-main .loading{
    text-align: center;
}

.loading{
    margin: 40px;
}