﻿body {
    background: none repeat scroll 0 0 #2B2B2B;
    color: #333333;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#loginForm {
    background: none repeat scroll 0 0 #FCFCFC;
    border-radius: 4px;
    box-shadow: 0 18px 6px -8px #1A1A1A, 0 0 2px #0D0D0D;
    left: 50%;
    margin-left: -190px;
    margin-top: -245px;
    position: absolute;
    top: 50%;
    width: 370px;
}

#loginForm .login-header > img {
    display: block;
    margin: auto;
    padding: 5px 25px 15px;
}

#loginForm .login-bottom {
    background: none repeat scroll 0 0 #BA0000 !important;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #E7E7E7;
    padding: 12px 20px;
}

#loginForm .link {
    background: url("Images/img-link.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #FFFFFF !important;
    display: block;
    font-size: 11px;
    padding: 3px 0 0 3px;
}

#loginForm .captcha {
    color: gray;
    display: block;
    font-size: 11px;
}

#loginForm .login-errors {
    margin-bottom: 0
}

#loginForm .alert {
    border-radius: 0;
    margin-bottom: 0;
}

.validation-summary-errors ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
    text-align: center;
}