﻿.table > tbody > tr > th, .table > tfoot > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px;
    /*font-family: "Verdana";
    font-size: 11px;*/
    color: #777;
    font-family: "Open Sans",sans-serif;
    
    /*font-size: 12px;*/
     font-size: 13px;
    font-weight: 300;
}

.table > thead > tr > th, .table > thead > tr > td {
    padding: 4px;
    color: #777;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    /*font-weight: 400;*/
}

table.dataTable thead th {
    /*cursor: pointer;*/
    padding: 3px 0 3px 10px;
}

/*.table > thead > tr {
    background: none;
}*/

.table tbody > tr.selected > td {
    background: none repeat scroll 0 0 rgb(252,248,227) !important;
}

.table-striped > tbody > tr.selected:nth-child(2n+1) > td {
    background: none repeat scroll 0 0 rgb(252, 248, 227) !important;
}

.table-hover > tbody > tr:hover.info.group > td, .table-hover > tbody > tr:hover.info.group > th {
    background-color: #d9edf7;
}

/*.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #f5f5f5 !important;
}*/

input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
    height: 15px;
    opacity: 0;
    position: absolute;
    width: 15px;
    z-index: 2;
}

input[type="checkbox"]:checked + .custom-checkbox, input[type="radio"]:checked + .custom-radio {
    background-color: #f5f8fc;
}

input[type="checkbox"] + .custom-checkbox, input[type="checkbox"]:disabled + .custom-checkbox, input[type="radio"] + .custom-radio, input[type="radio"]:disabled + .custom-radio {
    background-color: #fafafa;
    border-radius: 3px;
    display: inline-block;
    line-height: 13px;
    margin-right: 3px;
    position: relative;
}

input[type="checkbox"]:hover + .custom-checkbox, input[type="radio"]:hover + .custom-radio {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] + .custom-checkbox:before {
    border-radius: 3px;
}

input[type="checkbox"]:disabled + .custom-checkbox, input[type="radio"]:disabled + .custom-radio {
    background-color: #ccc;
    border-radius: 3px;
}

input[type="checkbox"] + .custom-checkbox, input[type="radio"] + .custom-radio {
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    content: "";
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    height: 17px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    width: 17px;
    margin-top: -5px;
}

input[type="checkbox"]:checked + .custom-checkbox:before {
    border-color: rgba(0, 0, 0, 0.2);
    color: #7a7a7a;
    content: "";
    font-size: 12px;
    text-shadow: 0 1px #fff;
}

input[type="radio"] + .custom-radio, input[type="radio"]:disabled + .custom-radio {
    border-radius: 50em;
    line-height: 0;
}

    input[type="radio"] + .custom-radio:before {
        border-radius: 50em;
    }

input[type="radio"]:checked + .custom-radio:before {
    background-color: #777;
    border-color: #adb8c0;
    content: "";
    display: block;
    height: 11px;
    left: 2px;
    position: absolute;
    text-shadow: 0 1px #fff;
    top: 2px;
    width: 11px;
}

input[type="radio"]:checked + .custom-radio.blue:before {
    color: #09c;
}

input[type="checkbox"]:disabled:active + .custom-checkbox, input[type="radio"]:disabled:active + .custom-radio {
    box-shadow: none;
}

input[type="checkbox"]:active + .custom-checkbox, input[type="radio"]:active + .custom-radio {
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}

.label-checkbox, .label-radio {
    cursor: auto;
    display: block;
    margin-bottom: 0;
}

.group-row-details {
    text-align: center;
}

.group-row-details > i {
    cursor: pointer;
}

.row-details {
    margin-left: -3px;
    margin-top: 3px;
}

.dataTables_info {
    font-size: 13px;
    font-weight: 300;
}

div.dataTables_length label {
    font-size: 13px;
    font-weight: 300;
}

table.dataTable {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.panel-info > .panel-heading {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.panel-info {
    border-color: #bce8f1;
}

/*a.redirect {
    color: #9bd0f6;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 300;
}*/

a.group-link {
    color: #9bd0f6;
    text-decoration: underline;
    font-size: 13px;
    font-weight: 300;
}

a.group-link:hover a.group-link:focus {
    font-weight: 400;
}

.row.filter {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.form-group > button.btn-only {
    margin-top: 23px;
}

div.info-block {
    display: inline; 
    color: #667e99; 
    padding-right: 6px;
}

div.info-block + div {
    display: inline;
}

div.footer-block {
    background-color: #f8fafc;
    border: 1px solid #e0e2e5;
    padding: 4px 2px 5px;
}

div.footer-block .fieldset {
    margin: 0 1em 1.5em;
    padding: 0 3em 1em 1em;
}

.ptje {
    font-family: Open Sans; 
    font-size: 11px; 
    font-weight: 300;
    color: rgb(57, ​ 57, ​ 57);
    /*margin-left: 0px;
    margin-right: 0px;*/
}

.ptje-cabecera {
    background-color: #999999;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.ptje-titulo {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 12px; 
}

.ptje-etiqueta {
    text-align: right;
}

.ptje-etiqueta-total {
    text-align: right;
    font-weight: bold;
    font-size: 12px; 
}

input[readonly].ptje-valor {
    background-color: white !important;
    border: 1px solid !important;
    text-align: right;
}

input[readonly].ptje-subtotal-grey {
    background-color: #f5f5f5 !important;
    color: #939192 !important;
    border: 1px solid !important;
    text-align: right;
}

input[readonly].ptje-subtotal-warning {
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
    color: #8a6d3b !important;
    border: 1px solid !important;
    text-align: right;
}

input[readonly].ptje-total {
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    color: #a94442 !important;
    border: 1px solid !important;
    text-align: right;
}


fieldset > .well {
    margin-bottom: -1em;
    margin-left: -1em;
    margin-right: -1em;
}


/*.dataTables_wrapper .row:first-child {
    background-color: white;
}

.dataTables_wrapper .row:last-child {
    background-color: white;
}*/

table.dataTable tfoot th, table.dataTable tfoot td {
    border-right: none;
    border-bottom: none;
    border-left: none;
}

table.dataTable tfoot th {
    color: black;
    font-size: 14.4px;
    font-weight: bold;
    text-align: right;
}

/*table.dataTable tfoot th.label {
    color: black !important;
    text-align: right !important;
}*/

table.dataTable tfoot th.summary {
    color: #dd5a43 !important;
    /*text-align: left;*/
}

table.dataTable tfoot th .hr {
    margin: 8px -4px;
}

/*.dataTables_wrapper .row:first-child + .dataTable {
    border-bottom: none;
}*/

input[readonly].dato {
    background-color: white !important;
    border: 1px solid;
}

input[readonly].dato:focus {
    background-color: white !important;
}