<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.flexmonster.com/2.3/flexmonster.js"></script>

<button onclick="showCharts('bar')">Bar</button>
<button onclick="showCharts('bar_h')">Horizontal Bar</button>
<button onclick="showCharts('line')">Line</button>
<button onclick="showCharts('scatter')">Scatter</button>
<button onclick="showCharts('pie')">Pie</button>
<button onclick="showCharts('bar_stack')">Bar stack</button>
<button onclick="showCharts('bar_line')">Bar line</button>
<button onclick="showGrid()">Grid</button>

<div id="pivot-container"></div>


<script type="text/javascript">
	
	function showCharts(type) {
  pivot.showCharts(type, $("#multiple").is(":checked"));
}

function showGrid() {
  pivot.showGrid();
}

var pivot = $("#pivot-container").flexmonster({
  report: {
    dataSource: {
      dataSourceType: "csv",
      filename: "data/result_.csv"
    },
    options: {
      viewType: "charts",
      chart: {
        type: "bar"
      },
      configuratorActive: false
    },
    slice: {
      rows: [ 
	  {
        uniqueName: "ProgramaTransversal"
      }, {
        uniqueName: "Distrito"
      }, {
        uniqueName: "Provincia"
      }, {
        uniqueName: "Region"
      }, {
        uniqueName: "DireccionLinea"
      }, {
        uniqueName: "TipoInvestigacion"
      }, {
        uniqueName: "UnidadOperativa"
      }, {
        uniqueName: "Especie"
      }, {
        uniqueName: "CultivoCrianza"
      }, {
        uniqueName: "Programa"
      }],

      columns: [
	  {
        uniqueName: "ProgramaTransversal"
      }, {
        uniqueName: "Distrito"
      }, {
        uniqueName: "Provincia"
      }, {
        uniqueName: "Region"
      }, {
        uniqueName: "DireccionLinea"
      }, {
        uniqueName: "TipoInvestigacion"
      }, {
        uniqueName: "UnidadOperativa"
      }, {
        uniqueName: "Especie"
      }, {
        uniqueName: "CultivoCrianza"
      }, {
        uniqueName: "Programa"
      }],
      
      measures: [{
        uniqueName: "MontoPNIA"
      },
	  {
        uniqueName: "Cantidad"
      }],

    }

  },
  licenseKey: "Z7WP-XI8A2U-191E1A-2E5F36-5A6H1U-5L3X19-3U565U-4H2G06-0H5R57-5T17",
  width: "100%",
  height: 370,
  // componentFolder: "https://cdn.flexmonster.com/2.3/"
  componentFolder: ""
});

</script>
<!-- 
lib/d3.min.js 
assets/img/icons/expand_button.png -->

<!-- assets/img/alerts/alerts_alert_large.png -->