@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);
* {
  box-sizing: border-box; }

html {
  font-family: "Open Sans";
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background-color: #fff;
  color: #333;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0; }

img {
  border: 0; }

figure {
  line-height: .7;
  margin: 0;
  position: relative; }

figcaption {
  line-height: 1.2; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }
  button[disabled] {
    cursor: default; }

html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.site-header {
  background-color: #0060ae;
  height: 70px; }
  .site-header .box-content {
    width: 98%; }

.go-home {
  float: left;
  padding-top: 5px;
  height: 70px;
  position: relative;
  z-index: 1; }
  .go-home img {
    float: left;
    margin-right: 20px; }

.title-flash {
  display: inline-block;
  padding-top: 10px; }

.go-peru21 {
  float: right;
  height: 40px;
  width: 133px;
  text-indent: -9999px;
  background-image: url("../images/logo_p21.png");
  display: block;
  margin-top: 13px; }

.site-content {
  position: relative; }

.site-menu {
  background-color: #222;
  position: absolute;
  height: 100%;
  width: 130px;
  text-align: center;
  padding-top: 55px; }

.menu-item {
  margin-bottom: 35px; }

.menu-link {
  display: block;
  color: #fff;
  padding: 0 10px;
  position: relative;
  opacity: .5; }
  .menu-link span {
    display: block;
    line-height: 1.1;
    padding-top: 8px; }
  .menu-link.active {
    opacity: 1; }
    .menu-link.active .active-link {
      display: block; }

.active-link {
  position: absolute;
  display: none;
  right: 0;
  top: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #eee transparent transparent; }

.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none; }
  .ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
    background-color: transparent; }
  .ps-container.ps-in-scrolling {
    pointer-events: none; }
    .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container > .ps-scrollbar-x-rail {
    -moz-border-radius: 4px;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-border-radius: 4px;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    border-radius: 4px;
    bottom: 3px;
    display: none;
    height: 8px;
    opacity: 0;
    position: absolute;
    transition: background-color .2s linear, opacity .2s linear; }
    .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
      -moz-border-radius: 4px;
      -moz-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      -webkit-border-radius: 4px;
      -webkit-transition: background-color .2s linear;
      background-color: #aaa;
      border-radius: 4px;
      bottom: 0;
      height: 8px;
      position: absolute;
      transition: background-color .2s linear; }
  .ps-container > .ps-scrollbar-y-rail {
    -moz-border-radius: 4px;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-border-radius: 4px;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    border-radius: 4px;
    display: none;
    opacity: 0;
    position: absolute;
    right: 3px;
    transition: background-color .2s linear, opacity .2s linear;
    width: 8px; }
    .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      -moz-border-radius: 4px;
      -moz-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      -webkit-border-radius: 4px;
      -webkit-transition: background-color .2s linear;
      background-color: #aaa;
      border-radius: 4px;
      position: absolute;
      right: 0;
      transition: background-color .2s linear;
      width: 8px; }
  .ps-container:hover.ps-in-scrolling {
    pointer-events: none; }
    .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.6; }
  .ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
      background-color: #999; }
  .ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
      background-color: #999; }

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important; } }

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  background-image: url("../images/spt_icons.png"); }

.icon-president {
  background-position: 0 0;
  height: 71px;
  width: 62px; }

.icon-congress {
  background-position: -62px 0;
  height: 62px;
  width: 61px; }

.icon-hemicycle {
  background-position: -123px 0;
  height: 39px;
  width: 78px; }

.icon-perumap {
  background-position: -201px 0;
  height: 46px;
  width: 30px; }

.back {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 5px 4px 0;
  border-color: transparent #0060ae transparent transparent;
  display: inline-block;
  vertical-align: middle; }

#wrapper {
  margin: 0 auto; }

.box-content {
  margin: 0 auto; }

.main-content {
  margin-left: 130px;
  background-color: #eee;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  padding: 45px 123px 45px 45px;
  position: relative; }

.main-title {
  font: 700 35px/1 "Montserrat";
  margin-bottom: 10px;
  text-transform: uppercase; }

.data-source {
  margin-bottom: 30px;
  font-size: 16px; }

.box-map {
  float: left;
  width: 50%;
  z-index: 1;
  position: relative; }

.click-to-view {
  position: absolute;
  left: 10px;
  bottom: 30px;
  pointer-events: none; }

.box-positions {
  float: right;
  width: 456px;
  padding-top: 35px; }
  .box-positions h3 {
    color: #fff;
    background-color: #0060ae;
    text-transform: uppercase;
    border-radius: 5px;
    font: 700 20px/36px "Montserrat";
    margin-bottom: 20px;
    padding: 0 10px; }

.go-back {
  color: #0060ae;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px; }
  .go-back .back {
    margin: 0 10px; }
  .go-back .icon-perumap {
    vertical-align: middle; }

.title-col1, .title-col2 {
  display: block;
  line-height: 1;
  margin-bottom: 15px;
  float: left; }

.title-col2 {
  float: right; }

.candidates-list {
  clear: both;
  overflow: hidden;
  height: 500px;
  position: relative; }

.candidate-item {
  background-color: #fff;
  padding: 10px 20px 10px 10px;
  margin-bottom: 5px;
  height: 96px; }

.candidate-image-detail {
  float: left;
  width: 320px; }

.candidate-image {
  float: left;
  width: 75px; }

.presidential-candidates .candidate-image {
  border-radius: 50%; }

.candidate-detail {
  padding-left: 90px; }

.presidential-candidates .candidate-detail {
  padding-top: 10px; }

.congress-candidates .candidate-detail {
  padding-top: 28px; }

.candidate-name {
  font: 700 18px/1 "Montserrat";
  margin-bottom: 7px; }
  .candidate-name a {
    color: #333; }

.candidate-group {
  color: #666;
  display: block;
  line-height: 1; }
  .candidate-group a {
    color: #666; }
  .candidate-group img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    height: 20px; }

.candidate-votes, .candidate-seats {
  float: right;
  width: 75px;
  position: relative; }

.number {
  font-size: 16px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 28px;
  left: 0; }
  .number i {
    font-style: normal;
    font-size: 16px; }

.number-seats {
  display: block;
  text-align: center;
  font: 30px/76px "Open Sans"; }

#mapPeru {
  width: 60%;
  height: 723px;
  margin: 0 auto; }

.tooltip {
  background-color: #fff;
  text-align: center;
  width: 270px;
  height: 135px; }
  .tooltip:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 0 0;
    border-color: #fff transparent transparent; }

.foto-candidato {
  width: 75px;
  border-radius: 50%;
  margin: -37px 0 5px; }

.nombre-candidato, .footer-tooltip {
  font: 18px/1 "Montserrat";
  margin-bottom: 5px; }

.nombre-partido {
  color: #666;
  font: 15px "Open Sans";
  margin-bottom: 13px; }
  .nombre-partido img {
    vertical-align: middle;
    height: 20px; }

.footer-tooltip {
  margin-bottom: 0;
  color: #e10513;
  font-weight: 700; }

.highcharts-container {
  overflow: visible !important; }

.highcharts-container > svg > text:last-child {
  display: none; }

.tooltip-grafico {
  width: 230px;
  text-align: center; }
  .tooltip-grafico div:last-child {
    font: 16px/1 "Open Sans"; }

.logo-partido {
  display: inline-block; }

.nombre-partido {
  font: 18px/1.1 "Montserrat";
  padding-top: 8px;
  margin-bottom: 10px;
  color: #333; }

.footer-tooltip-escanos {
  font: 20px/1 "Open Sans";
  margin-bottom: 8px; }

.about-text {
  text-align: center;
  color: #333333;
  font: 700 20px/1 "Open Sans";
  width: 300px; }

.socials {
  float: right;
  margin: 12px 10px 0 0; }
  .socials > a {
    margin-right: 15px;
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #ccc;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px; }
    .socials > a.fb {
      background: #3a5ba2; }
    .socials > a.tw {
      background: #55acee; }
    .socials > a img {
      display: inline-block;
      vertical-align: middle; }

.bloquer-wrap span {
  font: 700 20px/1 "Open Sans";
  text-align: center;
  display: block;
  width: 350px;
  position: absolute;
  left: 50%;
  margin-left: -175px;
  top: 30%; }

@media screen and (max-width: 1366px) {
  .box-map {
    width: 50%; }
  #mapPeru {
    width: 90%; } }

@media screen and (max-width: 1280px) {
  .main-content {
    padding: 2%; } }

@media screen and (max-width: 1024px) {
  .box-map {
    width: 48%; }
  .box-positions {
    width: 50%; }
  .candidate-image-detail {
    width: 300px; }
  #mapPeru {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .site-menu {
    position: relative;
    width: 100%;
    padding-top: 20px; }
  .menu-list {
    overflow: hidden; }
  .menu-item {
    display: inline-block;
    margin-bottom: 0;
    width: 32%; }
  .menu-link {
    padding-bottom: 15px; }
  .active-link {
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #eee;
    right: auto;
    top: auto;
    left: 50%;
    bottom: 0;
    margin-left: -6px; }
  .main-content {
    margin-left: 0;
    padding: 4% 2%; }
  .main-title {
    text-align: center;
    font-size: 30px; }
  .data-source {
    text-align: center; }
  .box-map {
    float: none;
    margin: 0 auto 50px;
    width: 65%; }
  .box-positions {
    float: none;
    margin: 0 auto;
    width: 85%;
    padding-top: 0; }
  .click-to-view {
    position: relative;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    text-align: center; }
  .about-text {
    font-size: 10px;
    margin-top: 30px; } }

@media screen and (max-width: 640px) {
  .site-header {
    height: 50px; }
  .go-home {
    height: 58px; }
    .go-home img {
      width: 45px; }
  .title-flash img {
    width: 205px; }
  .go-peru21 {
    height: 26px;
    width: 46px;
    background-position: 0 -40px; }
  .site-menu {
    padding-top: 10px; }
  .icon-president {
    background-position: 0 -71px;
    height: 35px;
    width: 30px; }
  .icon-congress {
    background-position: -30px -71px;
    height: 36px;
    width: 35px; }
  .icon-hemicycle {
    background-position: -65px -71px;
    height: 25px;
    width: 51px; }
  .menu-item {
    font-size: 14px; }
  .menu-link span {
    margin-left: 17%;
    margin-right: 17%; }
  .menu-link:active {
    text-decoration: none; }
  .candidate-item {
    padding-right: 10px; }
  .candidate-image-detail {
    width: 290px; }
  #mapPeru {
    height: 600px; }
  .bloquer-wrap span {
    width: 100%;
    padding: 15px;
    margin-left: 0;
    left: 0; }
  .socials {
    margin: 0 5px 0 0; }
    .socials > a {
      margin-right: 0;
      width: 21px;
      height: 50px;
      background: #ccc;
      border-radius: 0;
      border: 0;
      line-height: 45px; }
      .socials > a img {
        max-width: 80%;
        max-height: 21px; }
  .nombre-partido {
    font-size: 13px; }
  .footer-tooltip-escanos {
    font-size: 15px; }
  .logo-partido {
    max-width: 35px; }
  .tooltip-grafico {
    font-size: 13px; }
  .total-by-ev {
    font-size: 13px !important; } }

@media screen and (max-width: 480px) {
  .main-title {
    font-size: 22px;
    line-height: 1.2; }
  .title-flash img {
    width: 160px; }
  .box-map {
    width: 100%; }
  .box-positions {
    width: 100%; }
  .candidate-item {
    padding-right: 10px; }
  .candidate-image-detail {
    width: 240px; }
  .candidate-detail {
    padding-left: 80px;
    padding-top: 5px !important; }
  .candidate-name {
    font-size: 16px;
    font-weight: 400; } }

@media screen and (max-width: 375px) {
  .go-home {
    height: 53px; }
    .go-home img {
      width: 40px; }
  .title-flash {
    padding-top: 12px; }
    .title-flash img {
      width: 160px; }
  .menu-link span {
    margin-left: 0;
    margin-right: 0; }
  #mapPeru {
    height: 500px; } }

@media screen and (max-width: 320px) {
  .go-home img {
    margin-right: 10px; }
  .menu-item {
    font-size: 13px; }
  .candidate-image-detail {
    width: 210px; }
  .candidate-name {
    font-size: 14px; }
  .candidate-group {
    font-size: 13px; }
  #mapPeru {
    height: 450px; } }

/*# sourceMappingURL=styles.css.map */
