﻿/*Default*/
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
    font-size: 0.75em;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
    font-size: 0.75em;
}

.validation-summary-valid {
    display: none;
}

/*Overload*/
label {
    font-size: 13px;
    font-weight: bold;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-size: 13px;
}

.form-control {
    font-size: 13px;
    height: 30px;
}

.btn {
    font-size: 13px;
    padding: 5px 10px;
}

.btn-group > .btn:first-child, .btn-group > .btn:last-child {
    border-radius: 4px !important;
}

.btn-group > .btn > .caret {
    margin-top: 0;
}

.text-info .text-muted {
    font-size: 11px;
}

/*Customed*/
.fieldset {
    border: 1px solid #DDD;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 1em 1em;
}

.legend {
    width: inherit;
    padding: 0;
    border-bottom: none;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

.btn-fileInput {
    position: relative;
    overflow: hidden;
}

    .btn-fileInput input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

.data-val-required {
    color: #b94a48;
    font-size: 11px;
    font-weight: normal;
}

.alert.ui-pnotify-container {
    font-size: 13px;
}

    .alert.ui-pnotify-container > .ui-pnotify-icon > .glyphicon {
        top: 4px;
    }

.form-control::-moz-placeholder {
    opacity: 0.5;
}

/*.modal-header {
    padding: 5px 15px;
}*/

.modal-dialog > .modal-content > .modal-header > h4.bigger {
    margin: 0;
}

table {
    border-collapse: collapse;
}

tr.strikeout td {
    position: relative;
}

    tr.strikeout td:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        border-bottom: 1px solid #dd5a43;
    }

odd.selected { /* Row Selected */
    background-color: #d9edf7 !important; /*#acbad4 ;*/
}

.loading-circle {
    background: white url(Images/loading-circle.gif) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

.modal-preload {
    background: url("Images/bg_rgba80.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

    .modal-preload .circles {
        height: 140px;
        left: 50%;
        margin-left: -70px;
        margin-top: -70px;
        position: absolute;
        top: 50%;
        width: 140px;
    }

        .modal-preload .circles .circle {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            animation: 1s ease-in-out 0s normal none infinite running spinPulse;
            -moz-animation: 1s ease-in-out 0s normal none infinite running spinPulse;
            -webkit-animation: 1s ease-in-out 0s normal none infinite running spinPulse;
            background-color: rgba(0, 0, 0, 0);
            border-color: rgba(255, 255, 255, 0.9) rgba(0, 0, 0, 0);
            border-image: none;
            border-radius: 100px;
            border-style: solid;
            border-width: 4px 5px;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
            height: 140px;
            margin: 0 auto;
            opacity: 0.8;
            position: relative;
            width: 140px;
        }

    .modal-preload .mainLogo {
        color: #fff;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

        .modal-preload .mainLogo .preloadEc {
            background: url("Images/img-logo_loading.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
            display: block;
            height: 55px;
            margin: 39px auto 5px;
            width: 90px;
        }

@keyframes spinPulse {
    0% {
        opacity: 0;
        transform: rotate(160deg);
    }

    50% {
        opacity: 1;
        transform: rotate(145deg);
    }

    100% {
        opacity: 0;
        transform: rotate(-320deg);
    }
}

@-moz-keyframes spinPulse {
    0% {
        opacity: 0;
        transform: rotate(160deg);
    }

    50% {
        opacity: 1;
        transform: rotate(145deg);
    }

    100% {
        opacity: 0;
        transform: rotate(-320deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        opacity: 0;
        transform: rotate(160deg);
    }

    50% {
        opacity: 1;
        transform: rotate(145deg);
    }

    100% {
        opacity: 0;
        transform: rotate(-320deg);
    }
}

/*.no-addon {
    background-color: white; 
    padding: 0px; 
    border: 0px
}*/

/*input[readonly] {
	background-color: white !important;
	cursor: text !important;
}*/

/*.dataTables_processing {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    color: #333333;
    font-size: 13px;
    left: 50%;
    margin-left: 0;
    min-width: 125px;
    padding: 7px;
    position: fixed;
    text-align: center;
    top: 50%;
    vertical-align: middle;
}
.dataTables_processing span {
    line-height: 15px;
    vertical-align: middle;
}*/

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: 1px solid #eee;
    padding: 20px 20px 5px 20px;
    margin: 20px 0;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-bottom: 5px;
        margin-top: 0;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #1b809e;
}

    .bs-callout-info h4 {
        color: #1b809e;
        border-bottom: 1px solid #DDD !important;
        border-bottom-width: 1px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

/*# Css */
.SemaforoRojo {
    color: #ff0000;
    font-size: 2em;
}

.SemaforoAmarillo {
    color: #ffd800;
    font-size: 2em;
}

.SemaforoVerde {
    color: #87B87F;
    font-size: 2em;
}

/*input-group-addon*/
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.input-group-addon.pointer {
    cursor: pointer;
}



/*Nuevo*/
.logo-contraloria {
    background: url(Images/img-logo-home_.png) no-repeat left;
    display: inline-block;
    height: 37px;
    width: 166px;
    background-size: 166px;
}

/* Modificando estilos */
.navbar .navbar-brand { /* habilitado*/
    padding-bottom: 5px;
    padding-top: 5px;
}

.navbar {
    /*background: none repeat scroll 0 0 #c00000;*/
    background: none repeat scroll 0 0 #92B93B;
}

.ace-nav > li > a {
    /*background-color: #e62626;*/
    background-color: #83a635;
}

.ace-nav > li {
    height: 50px;
    line-height: 50px;
}

    .ace-nav > li.light-blue > form > a {
        background-color: #bbbbbb;
    }

    .ace-nav > li > a:hover, .ace-nav > li > a:focus, .ace-nav > li.open > a {
        /*background-color: #800000;*/
        background-color: #668129;
        color: #FFFFFF;
    }

.page-header h1 {
    /*color: #c00000;*/
    color: #92B93B;
}

/*.btn-primary, .btn-primary:focus {
    background-color: #c00000!important;
    border-color: #c00000;
}

.btn-primary:hover, .btn-primary:active, .open .btn-primary.dropdown-toggle {
    background-color: #800000 !important;
    border-color: #e62626;
}*/

.no-skin .nav-list > li.active > a {
    color: #800000;
}

.nav-list > li:before {
    background-color: #670000;
}

.no-skin .nav-list > li .submenu > li.active > a {
    color: #9a0000;
}

.no-skin .nav-list > li .submenu > li > a:hover {
    color: #800000;
}

.no-skin .nav-list li.active > a:after {
    -moz-border-right-colors: #9a0000;
    border-right-color: #9a0000;
}

.no-skin .nav-list > li.active > .submenu:before, .no-skin .nav-list > li.active > .submenu > li:before {
    border-color: #cd0d0d;
}

.no-skin .nav-list > li > .submenu:before, .no-skin .nav-list > li > .submenu > li:before {
    border-color: #e62626;
}

.no-skin .nav-list > li.active:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #9a0000;
}

.no-skin .sidebar.menu-min .nav-list > li.active > .arrow:before {
    /*-moz-border-right-colors: #b30000;
    border-right-color: #b30000;*/
    -moz-border-right-colors: #576f23;
    border-right-color: #576f23;
}

.no-skin .sidebar.menu-min .nav-list > li.active > .submenu {
    /*border-left-color: #b30000;*/
    border-left-color: #576f23;
}

.no-skin .sidebar.menu-min .nav-list > li.active > a > .menu-text {
    /*border-left-color: #b30000;*/
    border-left-color: #576f23;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #428BA6;
    border-color: #428B66;
}

.panel-primary {
    border-color: #428B66;
}

.panel-info > .panel-heading {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    /*color: #000;
    background-color: #f5f5f5;
    border-color: #DDD;*/
}

.panel-info {
    border-color: #bce8f1; /*#DDD;*/
}

.nav-tabs.tab-color-blue > li.active > a, .nav-tabs.tab-color-blue > li.active > a:focus, .nav-tabs.tab-color-blue > li.active > a:hover {
    border-color: #999999 #999999 rgba(0, 0, 0, 0);
    color: #999999;
}

.nav-tabs.tab-color-blue > li > a, .nav-tabs.tab-color-blue > li > a:focus {
    background-color: #999999;
}

.nav-tabs.background-blue {
    background-color: #f5f5f5;
    border: 1px solid #DDD;
}

.tab-content {
    border: 1px solid #DDD;
}

.modal-header {
    /*background: #C00000;*/
    background: #92B93B;
    color: #FFF;
    padding: 10px;
}

.pagination > li.active > a, .pagination > li.active > a:hover {
    background-color: #333333;
    border-color: #333333;
    color: #fff;
}

.pagination > li > a, .pager > li > a {
    color: #333;
}

/*Bootstrap*/
.no-skin .nav-list > li.open > a {
    color: #800000;
}

.no-skin .nav-list > li:hover > a {
    color: #800000;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #b30000;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #e62626;
}


/*.fadeOutUp {
    animation-name: fadeOutUp;
    -moz-animation: fadeOutUp;
    -webkit-animation: fadeOutUp;
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0px, -18px, 0px);
    }
}

@-moz-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0px, -18px, 0px);
    }
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate3d(0px, -18px, 0px);
    }
}*/




.row_selected {
    background: none repeat scroll 0 0 rgb(252,248,227) !important;
}
/*.row_selected a { color:#fff; }*/

#preload {
    background: url("Images/bg_rgba80.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

    #preload .circles {
        height: 140px;
        left: 50%;
        margin-left: -70px;
        margin-top: -70px;
        position: absolute;
        top: 50%;
        width: 140px;
    }

        #preload .circles .circle {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            animation: 1s ease-in-out 0s normal none infinite running spinPulse;
            -moz-animation: 1s ease-in-out 0s normal none infinite running spinPulse;
            -webkit-animation: 1s ease-in-out 0s normal none infinite running spinPulse;
            background-color: rgba(0, 0, 0, 0);
            border-color: rgba(255, 255, 255, 0.9) rgba(0, 0, 0, 0);
            border-image: none;
            border-radius: 100px;
            border-style: solid;
            border-width: 4px 5px;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
            height: 140px;
            margin: 0 auto;
            opacity: 0.8;
            position: relative;
            width: 140px;
        }

    #preload .mainLogo {
        color: #fff;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

        #preload .mainLogo .preloadEc {
            background: url("Images/img-logo_loading.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
            display: block;
            height: 55px;
            margin: 39px auto 5px;
            width: 90px;
        }

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    /*color: #fff !important;*/
    text-shadow: 0 1px 0 #fff;
    opacity: 0.9;
}

.header_table_group {
    background-color: #999999 !important;
    color: #fff !important;
}

.icon-animated-vertical-a {
    animation: 2s ease 0.1s normal none infinite vertical;
    -moz-animation: 2s ease 0.1s normal none infinite vertical;
    -webkit-animation: 2s ease 0.1s normal none infinite vertical;
    border-color: #93CBF9 !important;
    -moz-border-color: #93CBF9 !important;
    -webkit-border-color: #93CBF9 !important;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

@-moz-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -moz-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -moz-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -moz-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        -moz-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        -moz-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        -moz-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.inline-horizontal {
    margin-bottom: 20px;
    margin-top: 20px;
}

.box {
    border: 1px solid transparent; /*#428bca;*/
    margin: 0 0 30px 0;
}

.box-header {
    /*color: #34383c;*/
    font-size: 16px;
    overflow: hidden;
    /*background: #f7f7f8;*/
    border-bottom: 1px solid transparent;
    height: 40px;
}

.box-title i {
    border-right: 1px solid transparent;
    color: #ced1d4;
    padding: 12px 0;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    font-size: 16px !important;
}

.box-header-icon {
    float: right;
}

.box-content {
    padding: 10px;
    background: white;
}

.box-info {
    border-color: #bce8f1;
}

    .box-info > .box-header {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }

        .box-info > .box-header > .box-title i {
            border-right-color: #bce8f1;
            color: #31708f;
        }

.label-checkbox, .label-radio {
    cursor: auto;
    display: block;
    margin-bottom: 0;
}

    .label-checkbox .custom-checkbox {
        padding-left: 0px;
    }

.custom-checkbox input[type=checkbox], .custom-radio input[type="radio"] {
    cursor: pointer;
    height: 15px;
    opacity: 0;
    position: absolute;
    width: 15px;
    z-index: 2;
}

.custom-checkbox + input[type="checkbox"]:checked, .custom-radio + input[type="radio"]:checked {
    background-color: #f5f8fc;
}

.custom-checkbox + input[type="checkbox"], .custom-checkbox input[type="checkbox"]:disabled, .custom-radio + input[type="radio"], .custom-radio + input[type="radio"]:disabled {
    background-color: #fafafa;
    border-radius: 3px;
    display: inline-block;
    line-height: 13px;
    margin-right: 3px;
    position: relative;
}

    .custom-checkbox + input[type="checkbox"]:hover, .custom-radio + input[type="radio"]:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.custom-checkbox:before + input[type="checkbox"] {
    border-radius: 3px;
}

.custom-checkbox + input[type="checkbox"]:disabled, .custom-radio + input[type="radio"]:disabled {
    background-color: #ccc;
    border-radius: 3px;
}

.custom-checkbox + input[type="checkbox"], .custom-radio + input[type="radio"] {
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    /* content: ""; */
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    height: 17px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    width: 17px;
    margin-top: -5px;
}

.custom-checkbox:before + input[type="checkbox"]:checked {
    border-color: rgba(0, 0, 0, 0.2);
    color: #7a7a7a;
    content: "";
    font-size: 12px;
    text-shadow: 0 1px #fff;
}

.custom-radio + input[type="radio"], .custom-radio + input[type="radio"]:disabled {
    border-radius: 50em;
    line-height: 0;
}

.custom-radio:before + input[type="radio"] {
    border-radius: 50em;
}

    .custom-radio:before + input[type="radio"]:checked {
        background-color: #777;
        border-color: #adb8c0;
        content: "";
        display: block;
        height: 11px;
        left: 2px;
        position: absolute;
        text-shadow: 0 1px #fff;
        top: 2px;
        width: 11px;
    }

.custom-radio.blue:before + input[type="radio"]:checked {
    color: #09c;
}

.custom-checkbox + input[type="checkbox"]:disabled:active, .custom-radio + input[type="radio"]:disabled:active {
    box-shadow: none;
}

.custom-checkbox + input[type="checkbox"]:active, .custom-radio + input[type="radio"]:active {
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}

.tabs-below .nav-tabs.background-blue-2 {
    padding-bottom: 6px;
    padding-top: 0;
}

.nav-tabs.background-blue-2 {
    background-color: #d9edf7;
    border: 1px solid #bce8f1; /*#DDD;*/
}

.table > tbody > tr > th, .table > tfoot > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 4px;
    /*font-family: "Verdana";
    font-size: 11px;*/
    /*color: #777;*/
    color: black;
    font-family: "Open Sans",sans-serif;
    /*font-size: 12px;*/
    font-size: 13px;
    font-weight: 300;
}

.table > thead > tr > th, .table > thead > tr > td {
    padding: 4px;
    /*color: #777;*/
    color: black;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    /*font-weight: 400;*/
}

table.dataTable thead th {
    /*cursor: pointer;*/
    padding: 3px 0 3px 10px;
}

/*.table > thead > tr {
    background: none;
}*/

.table tbody > tr.selected > td {
    background: none repeat scroll 0 0 rgb(252,248,227) !important;
}

.table-striped > tbody > tr.selected:nth-child(2n+1) > td {
    background: none repeat scroll 0 0 rgb(252, 248, 227) !important;
}

.table tbody > tr.selected.info > td {
    background-color: #d9edf7 !important;
}

.table-striped > tbody > tr.selected.info:nth-child(2n+1) > td {
    background-color: #d9edf7 !important;
}

.table-hover > tbody > tr:hover.info.group > td, .table-hover > tbody > tr:hover.info.group > th {
    background-color: #d9edf7;
}


.radio-inline .radio-circle {
    padding-left: 0px !important;
}

.radio-circle input[type=radio] {
    opacity: 0;
    z-index: 2;
}

.radio-circle.radio-success input[type=checkbox]:checked + span:before {
    background-color: #87B87F;
}

.radio-circle.radio-danger input[type=checkbox]:checked + span:before {
    background-color: #a94442;
}

.radio-circle.radio-success span:before {
    border: 2px solid #87B87F;
}

.radio-circle.radio-danger span:before {
    /*border: 2px solid #c00000;*/
    border: 2px solid #92B93B;
}

.radio-circle span {
    transition: border 0.2s linear 0s,color 0.2s linear 0s;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px !important;
}

.radio-circle input[type=radio]:checked + span:before {
    border-width: 8px;
}

.radio-circle span:before {
    border-radius: 99px;
    /*top: 1.4px;*/
    transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.radio-circle span:before {
    content: "";
    display: inline-block;
    width: 17px !important;
    height: 17px !important;
    margin-right: 10px;
    position: absolute;
    left: 0px;
    /*border: 2px solid #87B87F;*/
}

.radio-circle input[type=radio]:checked + span::after {
    font-family: 'FontAwesome';
    content: "\F00C";
    color: #fff;
}

.radio-circle span:after {
    border-radius: 99px;
}

.radio-circle span:after {
    border-radius: 3px;
}

.radio-circle span::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3.2px;
    top: 0px;
    font-size: 11px;
    transition: border 0.2s linear 0s,color 0.2s linear 0s;
}

.margin-5 {
    margin-left: 5px !important;
}

.margin-10 {
    margin-left: 10px !important;
}
